body{background-image:url(b1b8cf25159f114e1fbb53e84965b58a.webp); background-size: cover;}
.timer {
    display: grid;
    grid-template-columns: 5rem 2rem 5rem 2rem 5rem 2rem 5rem;
    font-size: 4rem;
    justify-items: center;
    margin-left: 39%;
    margin-top: 10%;
    color: #e97f7f;
  }
  .timer__item {
    position: relative;
  }
  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: #ee7575;
  }
  .year{
    color: rgb(250, 72, 102);
    font-size: 3rem;
    margin-left: 32.5%;
  }
.podar{
  border: 1px solid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 90px);
  grid-area: 
  "a1 a2 a3"
  "a1 a2 a3";
}
.img1{width: 200px; height: 200px; margin-left: 150px;}

